@import "../../constants/index.scss";

.controls-container {
  margin-top: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  flex-direction: column;
  padding: 16px;
}
