@import "../../constants/index.scss";

.controls-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  margin-top: $spacing-xnormal;
  padding: $spacing-normal;
}
