@import "../../constants/index.scss";

.input-wrapper {
  background: #ffffff;
  padding: 14px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
  min-width: 343px;
  .input-container {
    border: none;
    background: #ffffff;
    outline: none;
    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      color: #c4c4c4;
    }
  }
}
