@import "../../constants/index.scss";

.country-container {
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 100vh;

  .back-button {
    background: #ffffff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
    border: none;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: 104px;
    gap: 8px;
    cursor: pointer;
    span {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: #111517;
    }
  }
  .details-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    .country-flag {
      max-width: 320px;
      min-width: 229px;
      align-self: center;
    }
    .main-details {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 4px;
      font-weight: 600;
      font-size: 14px;
      line-height: 32px;
      color: #111517;
    }
  }

  .second-details{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
  }
}
