@import "../../constants/index.scss";

.header-container {
  align-items: center;
  background: $white;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  padding: 30px 16px;

  &.dark {
    background: $dark-blue;
    .header-title {
      color: #ffffff;
    }

    .header-left {
      .header-left-subtext {
        color: $white;
      }
    }
  }

  .header-title {
    color: $black;
    font-size: $font-size-14;
    font-weight: $font-weight-800;
    line-height: $line-height-20;
  }

  .header-left {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: $spacing-small;
    justify-content: center;

    .header-left-subtext {
      color: $black;
      font-size: $font-size-12;
      font-weight: $font-weight-600;
      line-height: $line-height-16;
    }
  }
}
